<div class="container">
  
  <music-search></music-search>

  <hr>

  <div class="text-center pt-4">
    <h5>As mais pedidas até o momento</h5>
  </div>

  <!-- 
  <div class="card-deck pt-4">
    <div class="card">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A51txLjbvSBRvtxjCjAFLkM" width="350" height="380" frameborder="0" allowtransparency="true"></iframe>      
      <div class="card-body">
        Sugerido por:
      </div>
    </div>
    <div class="card">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0tPQPaOKM32WgMSbPCYyRH" width="350" height="380" frameborder="0" allowtransparency="true"></iframe>
      <div class="card-body">
        Sugerido por:
      </div>
    </div>
    <div class="card">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A4C6IBSWdeKpiEChXGhZaRs" width="350" height="380" frameborder="0" allowtransparency="true"></iframe>  
      <div class="card-body">
        Sugerido por:
      </div>
    </div>
  </div> -->

</div>